{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "rules": {
    "semi": "error",
    "no-undef": "error"
  },
  "env": {
    "node": true
  },
  "globals": {
    "Promise": true,
    "it": true,
    "describe": true
  }
}
